{{>blocks/head}}


<header class="header">
    <div class="header__inner">
        <div class="header__logo">
            oenrique
            <p class="logo__text">UX/UI EXPERT</p>
        </div>
        <nav class="header__nav">
            <li class="nav__itm"><a href="#">home</a></li>
            <li class="nav__itm"><a href="#">about</a></li>
            <li class="nav__itm"><a href="#">service</a></li>
            <li class="nav__itm"><a href="#">portfolio</a></li>
            <li class="nav__itm"><a href="#">contact</a></li>
        </nav>
    </div>
    <div class="header__content">
        <div class="content__left">
            <h1 class="preview">Luis Oenrique</h1>
            <h2 class="preview__small">User Experience / User Interface Expert</h2>
            <a href="#" class="btn btn__hover">know more</a>
            <a href="#" class="btn btn__itm">hire me</a>
        </div>
        <div class="content__right"></div>
    </div>
</header>

