.header{
  background: url("../img/bg.png");
  &__content{
    
  }
  &__inner{
    
  }
  &__logo{
    font-size: 14.15px;
    text-transform: uppercase;
    .logo__text{
      font-size: 3.54px;
      text-transform: uppercase;
    }
  }
  &__nav{
    text-transform: uppercase;
    font-size: 16px;
  }
}
